<a href="https://colab.research.google.com/github/AndreaGarma1/cdecmx21_explorando_universo/blob/main/Satelites.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>¿Qué son los desechos orbitantes?</h2>

<p>Se designa a cualquier objeto artificial que orbita la Tierra, dicho objeto ya no posee vida útil; son peligrosos no por la cantidad actual de basura que hay, si no por el ritmo al cuál se acumula.</p>

<h3>¿Qué ODS se ve puesto en detrimento?</h3>

<p>El equipo investigador ha logrado señalar dos objetivos que se ponen en detrimento al ignorar el tema de la basura espacial</p>

<h2>Objetivo 11: Ciudades y comunidades sostenibles.</h2>

<p>"Las ciudades y las áreas metropolitanas son centros neurálgicos del crecimiento económico, ya que contribuyen al 60 % aproximadamente del PIB mundial. Sin embargo, también representan alrededor del 70 % de las emisiones de carbono mundiales y más del 60 % del uso de recursos." United Nations. Al no aprovechar al máximo y trabajar por la recuperación o el tratamiento de la contaminación espacial, se ven afectadas nuestras emisiones de carbono.</p>

<h2>Objetivo 9: Industria, innovación e infraestructura.</h2>

<p>"En términos de infraestructura de comunicaciones, más de la mitad de la población mundial está ahora conectada y casi toda la población global vive en un área con cobertura de red móvil. Se estima que, en 2019, el 96,5 % de la población tenía cobertura de red, como mínimo, 2G" United Nations. Si la contaminación espacial sigue aumentando, entonces el lanzamiento de futuros sátelites será difícil, poniendo en riesgo los planes de cobertura mundial.</p>

<h2> Situación de Satélites Global</h2>

In [5]:
# import packages
import pandas as pd
import numpy as np

In [6]:
sat_sit = pd.read_csv("https://raw.githubusercontent.com/CdeCMx-org/proyectos-2021-club18_3/main/sat_sit.csv")
obdet = pd.read_csv("https://raw.githubusercontent.com/CdeCMx-org/proyectos-2021-club18_3/main/obdet.csv")
obdets = pd.read_csv("https://raw.githubusercontent.com/CdeCMx-org/proyectos-2021-club18_3/main/obdets.csv")

In [7]:
sat_sit.head()

                                      COUNTRY  ... COUNTRY_TOTAL
0  ARAB SATELLITE COMMUNICATIONS ORGANIZATION  ...            15
1                                ASIASAT CORP  ...             8
2                          REPUBLIC OF ANGOLA  ...             1
3                                     ALGERIA  ...             6
4                                   ARGENTINA  ...            42

[5 rows x 12 columns]

<h2> Objetos deteriorados orbitantes</h2>

In [8]:
obdet.head()

    OBJECT_ID        OBJECT_NAME  NORAD_CAT_ID  ...      LAUNCH       DECAY  COMMENT
0   2021-072B        ANTARES R/B         49065  ...  2021-08-10  2021-08-18      NaN
1   2021-066B          SL-25 R/B         49045  ...  2021-07-21  2021-08-06      NaN
2  2019-063AQ    YUNHAI 1-02 DEB         49042  ...  2019-09-25  2021-08-05      NaN
3   2021-048C  DRAGON CRS-22 DEB         49025  ...  2021-06-03  2021-07-25      NaN
4   2021-057B           SL-4 R/B         48870  ...  2021-06-29  2021-07-02      NaN

[5 rows x 13 columns]

<h2> Objetos orbitantes que decayeron en los últimos 7 días</h2>

In [9]:
obdets.head()

      INTLDES  NORAD_CAT_ID  ...   OBJECT_ID OBJECT_NUMBER
0  2020-006AB         45069  ...  2020-006AB         45069
1   2021-072B         49065  ...   2021-072B         49065
2  2020-055AG         46057  ...  2020-055AG         46057
3  2020-062BA         46373  ...  2020-062BA         46373
4   2019-074T         44730  ...   2019-074T         44730

[5 rows x 24 columns]

<h2> Situación de Satélites Global y los tres países con más basura en el espacio</h2>

In [10]:
# data cleaning -renaming
sat_sit.columns = map(str.lower, sat_sit.columns)
obdet.columns = map(str.lower, obdet.columns)
obdets.columns = map(str.lower, obdets.columns)

In [11]:
sorted_sat_sit = sat_sit.sort_values("orbital_debris_count", ascending=False).head(5)

In [12]:
sorted_sat_sit

                                country  ... country_total
109                                 ALL  ...         49071
18   COMMONWEALTH OF INDEPENDENT STATES  ...         22687
105            UNITED STATES OF AMERICA  ...         15542
76            PEOPLES REPUBLIC OF CHINA  ...          5889
32                               FRANCE  ...          1340

[5 rows x 12 columns]

In [13]:
def highlight_col(x):
    r = "background-color: red"
    p = "background-color: purple"
    g = "background-color: gray"
    temp_df= pd.DataFrame("", index=x.index, columns = x.columns)
    temp_df.iloc[:, 5] = r
    return temp_df
sorted_sat_sit.head(5).style.apply(highlight_col, axis=None)

In [3]:
pip install plotly --upgrade

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.2.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)

In [1]:
import plotly.express as px

In [14]:
fig = px.bar(sorted_sat_sit.head(5), x="country", y="orbital_debris_count", color="orbital_debris_count", barmode="group")
fig.show()

In [ ]:
pip install voila

Requirement already satisfied: voila in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.2.10)
Requirement already satisfied: nbconvert<7,>=6.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from voila) (6.0.7)
Requirement already satisfied: jupyter-server<2.0.0,>=0.3.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from voila) (1.4.1)
Requirement already satisfied: nbclient<0.6,>=0.4.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from voila) (0.5.3)
Requirement already satisfied: jupyter-client<7,>=6.1.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from voila) (6.1.11)
Requirement already satisfied: pyzmq>=13 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-client<7,>=6.1.3->voila) (22.0.3)
Requirement already satisfied: traitlets in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-client<7,>=6.1.3->voila) (5.0.5)
Requirement already satisfied: tornado>=4.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-client<7,>=6.1.3->voila) (6.1)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-client<7,>=6.1.3->voila) (2.8.1)
Requirement already satisfied: jupyter-core>=4.6.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-client<7,>=6.1.3->voila) (4.7.1)
Requirement already satisfied: ipython-genutils in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-server<2.0.0,>=0.3.0->voila) (0.2.0)
Requirement already satisfied: nbformat in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-server<2.0.0,>=0.3.0->voila) (5.1.2)
Requirement already satisfied: Send2Trash in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-server<2.0.0,>=0.3.0->voila) (1.5.0)
Requirement already satisfied: anyio>=2.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-server<2.0.0,>=0.3.0->voila) (2.2.0)
Requirement already satisfied: prometheus-client in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-server<2.0.0,>=0.3.0->voila) (0.9.0)
Requirement already satisfied: terminado>=0.8.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-server<2.0.0,>=0.3.0->voila) (0.9.2)
Requirement already satisfied: jinja2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jupyter-server<2.0.0,>=0.3.0->voila) (2.11.3)
Requirement already satisfied: typing-extensions in /srv/conda/envs/notebook/lib/python3.7/site-packages (from anyio>=2.0.2->jupyter-server<2.0.0,>=0.3.0->voila) (3.7.4.3)
Requirement already satisfied: sniffio>=1.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from anyio>=2.0.2->jupyter-server<2.0.0,>=0.3.0->voila) (1.2.0)
Requirement already satisfied: idna>=2.8 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from anyio>=2.0.2->jupyter-server<2.0.0,>=0.3.0->voila) (2.10)
Requirement already satisfied: async-generator in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbclient<0.6,>=0.4.0->voila) (1.10)
Requirement already satisfied: nest-asyncio in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbclient<0.6,>=0.4.0->voila) (1.4.3)
Requirement already satisfied: entrypoints>=0.2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbconvert<7,>=6.0.0->voila) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbconvert<7,>=6.0.0->voila) (0.8.4)
Requirement already satisfied: testpath in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbconvert<7,>=6.0.0->voila) (0.4.4)
Requirement already satisfied: jupyterlab-pygments in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbconvert<7,>=6.0.0->voila) (0.1.2)
Requirement already satisfied: pygments>=2.4.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbconvert<7,>=6.0.0->voila) (2.8.0)
Requirement already satisfied: bleach in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbconvert<7,>=6.0.0->voila) (3.3.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbconvert<7,>=6.0.0->voila) (1.4.2)
Requirement already satisfied: defusedxml in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbconvert<7,>=6.0.0->voila) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jinja2->jupyter-server<2.0.0,>=0.3.0->voila) (1.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nbformat->jupyter-server<2.0.0,>=0.3.0->voila) (3.2.0)
Requirement already satisfied: six>=1.11.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server<2.0.0,>=0.3.0->voila) (1.15.0)
Requirement already satisfied: importlib-metadata in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server<2.0.0,>=0.3.0->voila) (3.7.0)
Requirement already satisfied: attrs>=17.4.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server<2.0.0,>=0.3.0->voila) (20.3.0)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server<2.0.0,>=0.3.0->voila) (49.6.0.post20210108)
Requirement already satisfied: pyrsistent>=0.14.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server<2.0.0,>=0.3.0->voila) (0.17.3)
Requirement already satisfied: ptyprocess in /srv/conda/envs/notebook/lib/python3.7/site-packages (from terminado>=0.8.3->jupyter-server<2.0.0,>=0.3.0->voila) (0.7.0)
Requirement already satisfied: webencodings in /srv/conda/envs/notebook/lib/python3.7/site-packages (from bleach->nbconvert<7,>=6.0.0->voila) (0.5.1)
Requirement already satisfied: packaging in /srv/conda/envs/notebook/lib/python3.7/site-packages (from bleach->nbconvert<7,>=6.0.0->voila) (20.9)
Requirement already satisfied: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from importlib-metadata->jsonschema!=2.5.0,>=2.4->nbformat->jupyter-server<2.0.0,>=0.3.0->voila) (3.4.0)
Requirement already satisfied: pyparsing>=2.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from packaging->bleach->nbconvert<7,>=6.0.0->voila) (2.4.7)
Note: you may need to restart the kernel to use updated packages.